<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>study社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body >
<div th:insert="background::background"></div>
<div th:insert="navgation::nav"></div>


</body>
</html>