  <!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
  </head>
  <body >
  <div th:insert="background::background"></div>
  <div th:insert="navgation::nav"></div>
  <div class="container-fluid main" >
    <div class="row" style="background-color: #2aabd2" >
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"  style="background-color: #1b6d85;height: 800px" >
        <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 发起</h2>
        <hr>
        <form action="/publish" method="post">
          <input type="hidden" name="id" th:value="${id}">
          <div class="form-group">
            <label for="title">主题：</label>
            <label style="color: red" th:if="${(title=='') && (session.errorTag !=0 )}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>主题不能为空</label>
            <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="title">

          </div>
<!--          <div class="form-group" id="questionDesc">-->
<!--            <label for="description">问题描述：</label>-->
<!--            <label style="color: red" th:if="${(description=='') && (session.errorTag !=0 )}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>问题描述不能为空</label>-->
<!--            <textarea name="description" id="description"  class="form-control" style="display: none" th:text="${description}" cols="30" rows="10"></textarea>-->
<!--          </div>-->
          <label for="tag">问题描述:</label><label style="color: red" th:if="${(description=='') && (session.errorTag !=0 )}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>问题描述不能为空</label>
          <div class="form-group" id="question-editor" style="z-index: 2">

            <textarea name="description" id="description" th:text="${description}" style="display:none;"
                      class="form-control"
                      cols="30"
                      rows="10"></textarea>
          </div>
          <script type="text/javascript">
            $(function () {
              var editor = editormd("question-editor", {
                width: "100%",
                height: 350,
                path: "/js/lib/",
                delay: 0,
                watch: false,
                placeholder: "请输入问题描述",
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/file/upload",
              });
            });
          </script>
          <div class="form-group">
            <label for="tag">添加标签:</label>
            <label style="color: red" th:if="${(tag=='') && (session.errorTag !=0 )}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>标签不能为空</label>
            <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                   autocomplete="off"
                   placeholder="输入标签，以，号分隔"
                   onclick="showSelectTag()">
            <div id="select-tag" class="publish-tag-tab">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                    th:class="${selectCategoryStat.first ? 'active':''}">
                  <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                     data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                </li>
              </ul>
            </div>
              <div class="tab-content">
                <div role="tabpanel" th:id="${selectCategory.categoryName}"
                     th:each="selectCategory: ${tags}"
                     th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span th:each="selectTag: ${selectCategory.tags}">

                                    <span class="community-tag glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                </div>
              </div>
            </div>
          <div class="form-group">

            <label class="button" style="color: red"th:if="${session.user==null}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>请登录</label>
            <button type="submit" class="btn btn-success button" onclick="click()">提交</button>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="div2"  >
        <h2>发布指南</h2>
        <hr>
        主题：请用精简的语言描述你的问题<br>
        问题描述：请详细描述你的问题<br>
        问题种类：不超过10个字每个种类<br>
      </div>

    </div>

  </div>

  </body>
  </html>