<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/background.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<script>


</script>
<div th:insert="background::background"></div>
    <div th:insert="navgation::nav"></div>
<div class="container-fluid main userQuestion">
    <div class="row">
        <div th:if="${section}=='user'"class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background-color: #1b6d85;height:700px;position: relative" id="div1">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span th:text="${sectionName}"></span></h2>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h3><span class="glyphicon glyphicon-user"></span>username:</h3>
                <textarea name="username" id="username"  class="form-control" th:text="${session.user.name}" style="background-color:#1b6d85;color:black;font-size: 22px " cols="30" rows="1" ></textarea>
                <h3><span class="glyphicon glyphicon-leaf"></span>password:</h3>
                <textarea name="password" id="password"  class="form-control" th:text="${session.user.password}" style="background-color:#1b6d85;color:black;font-size: 22px " cols="30" rows="1"readonly ></textarea>
                <h3><span class="glyphicon glyphicon-eye-open"></span>bio:</h3>
                <textarea name="bio" id="bio"  class="form-control" th:text="${session.user.bio}" style="background-color:#1b6d85;color:black;font-size: 22px " cols="30" rows="1" readonly></textarea>
                <h3><span class="glyphicon glyphicon-eye-open"></span>gmtCreate:</h3>
                <textarea name="gmt_create" id="gmt_create"  class="form-control" th:text="${#dates.format(session.user.gmtCreate,'yyyy-MM-dd hh:mm:ss')}" style="background-color:#1b6d85;color:black;font-size: 22px " cols="30" rows="1" readonly></textarea>

            </div>
            <div style="position: absolute;right: 20px;bottom: 30px;">
                <button type="button" class="btn btn-info" style="margin-right: 20px" onclick="userChange()">&nbsp;&nbsp;修&nbsp;改&nbsp;&nbsp;</button><button type="button" class="btn btn-info" onclick="userChangePost()">&nbsp;&nbsp;提&nbsp;交&nbsp;&nbsp;</button>
            </div>
        </div>
        <script>
            if (sessionStorage.getItem("judge")==null){
                $("#username").attr("readonly","true");
                $("#bio").attr("readonly","true");
                $("#password").attr("readonly","true");
            }else if (sessionStorage.getItem("judge")==1){
                $("#password").removeAttr("readonly")
                $("#username").removeAttr("readonly")
                $("#bio").removeAttr("readonly")
                sessionStorage.removeItem("judge")
            }
        </script>
        <div th:if="${section}!='user'" class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background-color: #1b6d85;height:700px" id="div1">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span th:text="${sectionName}"></span></h2>

            <div class="media"  th:each="question:${userPageDto.questionDtos}">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle listImg" th:src="${question.user.imgUrl}" >
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}">
                    <h4 class="media-heading" th:text="${question.title}" ></h4> </a>
                    <span th:text="${question.tag}"></span><br>
                    <span class="test_des"><span th:text="${question.commentCount}"></span>回复·<span th:text="${question.viveCount}"></span>浏览·<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span></span>
                </div>
            </div>


            <nav aria-label="Page navigation" class="devPage" >
                <ul class="pagination" style="float: right" >
                    <li th:if="${userPageDto.showFirstPage}">
                        <a  aria-label="Previous"th:href="@{/userAllQuestion/questions/(page='1')}" >
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${userPageDto.showPrevious}">
                        <a aria-label="Previous"th:href="@{/userAllQuestion/questions/(page=${userPageDto.prePage})}" >
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page: ${userPageDto.thisPages}" th:class="${userPageDto.thisPage==page}?'active':''"><a th:href="@{/userAllQuestion/questions/(page=${page})}" th:text="${page}">1</a></li>
                    <li th:if="${userPageDto.showNextPage}">
                        <a  aria-label="Previous"th:href="@{/userAllQuestion/questions/(page=${userPageDto.nextPage})}">
                            <span aria-hidden="true" >&gt;</span>
                        </a>
                    </li>
                    <li th:if="${userPageDto.showEndPage}">
                        <a  aria-label="Previous"th:href="@{/userAllQuestion/questions/(page=${userPageDto.totalPage})}" >
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background-color: #2aabd2;" id="div2">
            <div class="list-group section">
                <a href="/userAllQuestion/user" th:class="${section=='user'}?'active list-group-item':'list-group-item'" th:text="${session.user.name}"></a>
                <a href="/userAllQuestion/questions" th:class="${section=='questions'}?'active list-group-item':'list-group-item'">
                    我的问题
                </a>
                <a href="/userAllQuestion/replies" th:class="${section=='replies'}?'active list-group-item':'list-group-item'">最新回复 <span class="badge">14</span> </a>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("div2").style.height=document.getElementById("div1").scrollHeight+"px";
</script>
</body>
</html>